<div class="side-bar">
   <div id="profile-icon">
    <mat-icon id="person" >person</mat-icon>
    <p>{{student?.name}}</p>
   </div>
  <div class="details">
    <div class="detail">
        <mat-icon >email</mat-icon>
    <span>{{student?.email}}</span>
    </div>

    <div class="detail">
        <mat-icon >email</mat-icon>
    <span>{{student?.s_Class}}<sup>th</sup> </span>
    </div> 

    <div class="detail">
        <mat-icon >water</mat-icon>
    <span>{{student?.bloodGroup}}</span>
   </div>

    <div class="detail">
        <mat-icon >Calendar</mat-icon>
    <span>{{student?.dob | date:'YYYY-MM-dd'}}</span>
    </div>

    <div class="detail">
        <mat-icon >home</mat-icon>
    <span>{{student?.address}}</span>
    </div>
</div>
</div>