*{
    margin: 0;
    padding: 0;
}
button{
    background-color:#1e81b0;
    height: 50px;
    width: 120px;
    margin: 5px;
   
}

.navigation{
    background-color: black;
    display: flex;
    justify-content: end;
    opacity: 0.9;
}

nav{
    margin: 5px;
}

.dashboard{
    width: 150px;
}

.teacher{
    background-color: #377b30;
}
.admin{
    background-color:#889716;
}