.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgb(249, 227, 181);
}

.child{
    border-radius: 30px;
    background-color: rgb(112, 162, 162);
    height: 65vh;
    width: 35vw;
    
}

.form-title{
    margin-top:40px;
    margin-left: 170px;
    margin-bottom: 40px;
}

.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-field{
    background-color: rgb(112, 162, 162);
    width: 60%;
    margin-bottom: 30px;
    
}
mat-error{
    color: black;
}

.btn{
    width: 10vw;;
}

@media (max-width: 768px) {
    .parent{
        padding: 0 10px;
    }

    .child{
        max-width: 100%;
    }
    
}