<div class="side-bar">
    <div id="profile-icon">
     <mat-icon id="person" >person</mat-icon>
     <p>{{admin?.name}}</p>
    </div>
   <div class="details">
     <div class="detail">
         <mat-icon>email</mat-icon>
     <span> {{admin?.email}}</span>
     </div>
 
     <div class="detail">
         <mat-icon>home</mat-icon>
     <span>{{admin?.address}}</span>
     </div> 
 
     <div class="detail">
         <mat-icon>water_drop</mat-icon>
     <span>{{admin?.bloodGroup}}</span>
    </div>

    <div class="detail">
        <mat-icon>assignment_ind</mat-icon>
        <span>{{admin?.post_School}}</span>
    </div>

 
    
 
 </div>
 </div>
