.parent{
    height: 60vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img{
    height: 45vh;
    width: 25vw; 
    border-radius: 50%;   
}

.example-header-image{
background-color:#1e81b0;
    height: 50px;
    width: 120px;
    margin: 5px;
    margin-top:20px;
}