.parent{
    height: 60vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img{
    height: 40vh;
    width: 25vw;    
}

.example-header-image{
background-color:#1e81b0;
    height: 50px;
    width: 120px;
    margin: 5px;
}